<div class="content-container">
  <% if hunter_logged_in? %>
    
    <% if @hunter.is_admin? %>
     <%= render 'shared/buttons/admin/buttons' %>
    <% end %>
    <hr class="hr-80">

    <h1><%= @hunter.hunter_name %></h1>
    <% if @hunter.bonus_item.present? %>
      <hr class="hr-80">
      <h3>Bonus Item</h3>
      <p>Oh cool, you have a bonus item!</p>
      <table>
        <th>Name</th><th>Code</th>
        <tr>
          <td><%= @hunter.bonus_item&.title %></td>
          <td><%= @hunter.bonus_item&.code %></td>
        </tr>
      </table>
      <hr class="hr-80">
    <% end %>
    <% if @hunter.items.counted.count == 0 %>
      <h2>Looks like you haven&apos;t captured any items</h2>
      <h3>Check the clues page!</h3>
    <% else %>
      <h3> Well done! you have captured the following items </h3>
      <table style="width:100%;">
        <th>Item name</th><th>picture</th><th>points</th>

        <% @hunter.items.counted.each do |item|%>
          <tr>
            <td><%= item.title %></td>
            <td><%= image_tag item.image, class: 'item-image'%></td>
            <td>10</td>
          </tr>
        <% end %>
      </table>
    <% end %>

    <h2>total points <%= score(@hunter) %></h2>
  <% else %>
    <%= link_to('Please log in!', root_path + 'login') %>
  <% end %>
</div>
