<div class="page-container">
  <h2 class="Hunter-title">Welcome Hunter! </h2>
  <div class="hunter-container-outer">
    <div class="hunter-container-inner">
      <% if session[:hunter_session_id] == @hunter.generate_session_id %>
        <h1><%= @hunter.hunter_name %></h1>
        <% if @hunter.items.count == 0 %>
          <h2>Looks like you haven&apos;t captured any items</h2>
          <h3>Head for the shed!</h3>
        <% else %>
          <h3> Well done! you have captured the following items </h3>
          <table>
            <th>Item name</th><th>picture</th><th>points</th>
            <% @hunter.items.each do |i|%>  
              <tr>
                <td><%= i.title %></td>
                <td><%= image_tag i.image, class: 'item-image'%></td>
                <td>10</td>
              </tr>
            <% end %>
          </table>
          <h2>total points <%= score(@hunter) %></h2>
          <% end %>
          <% if @hunter.isAdmin?%>
            <h1>Admin</h1> 
            <%= link_to 'Add Item', root_url + 'admin' %>
            <%= link_to 'Show Items', root_url + 'showall' %>
          <% end %>
            <%= button_to 'Logout', 'root_url' + 'logout' %>
      <% else %>
        <%= link_to('Please log in!', root_path + 'login') %>
      <% end %>
      
    </div>
  </div>
</div>
