<div class="row align-items-center">
  <div class="machine col-xs-2">
    <div class="col-xs-2"></div>

    <div class="wheel w-1 col-xs-2">
      <div class="dial-text" style="padding-top:8px"><%= render 'shared/buttons/navbar/home' %></div>
    </div>
             
    <div class="wheel w-2 col-xs-2">
      <div class="dial-text"><%= render 'shared/buttons/navbar/alan' %></div>
    </div>
        
    <div class="wheel w-3 col-xs-2">
      <div class="dial-text"><%= render 'shared/buttons/navbar/enigma' %></div>
    </div>

    <div class="wheel w-4 col-xs-2">
      <div class="dial-text"><%= render 'shared/buttons/navbar/cipher' %></div>
    </div>

    <div class="wheel w-5 col-xs-2">
      <div class="dial-text" style="padding-top:8px"><%= render 'shared/buttons/navbar/clues' %></div>
    </div>

    <div class="col-xs-2"></div>

  </div>
</div>
