<div class="egg-box">
  <div class="egg-btn rtl pastel-purple">
      <% if session[:hunter_session_id].present? %>
        <%= link_to root_path + "hunters/" + session['hunter_uuid'] do %>
        <p class="ltr-text-hunter">hunter</p>
        <% end %>
      <% else %>
        <%= link_to root_path do %>
            <p class="ltr-text-home">home</p>
        <% end %>
      <% end %>
    </div>
    <div class="egg-btn ltr pastel-yellow">
      <%= link_to scoreboard_path do %>
          <p class="rtl-text-scores">scores</p>
      <% end %>
    </div>

      <div class="egg-btn rtl pastel-blue">
        <%= link_to clues_path do %>
            <p class="ltr-text-clue">clues</p>
        <% end %>
    </div>
    
    <div class="egg-btn ltr pastel-green">
    <% if session[:hunter_session_id].present? %>
      <%= link_to logout_path do %>
        <p class="rtl-text-logout">logout</p>
      <% end %>
    <% else %>
        <%= link_to login_path do %>
          <p class="rtl-text-login">login</p>
        <% end %>
    <% end %>
    </div>
</div>