<div class="egg-box">

    <%= link_to root_path do %>
        <%= image_tag "easter/egg1.png" width%>
        <h3>HOME</h3>
    <% end %>

    <%= link_to login_path do %>
        <%= image_tag "easter/egg2.png" %>
        <h3>Login</h3>
    <% end %>

    <%= link_to register_path do %>
        <%= image_tag "easter/egg3.png" %>
        <h3>Register</h3>
    <% end %>

    <%= link_to scoreboard_path do %>
        <%= image_tag "easter/egg4.png" %>
        <h3>HOME</h3>
    <% end %>

</div>

 <hr class="grass">