<h1>Ghosts</h1>

<table>
<tr><th>ID</th><th>Image</th><th>Name</th><th>Description</th><th>Debug Link</th><th>QR Code</th></tr>
	<% @ghosts.each do |ghost| %>
		<tr>    
			<td><%= ghost.id %></td>
			<td><%= image_tag ghost.image, class: "ghost-image" %></td> 
			<td><%= ghost.title %></td>
			<td><%= ghost.body %></td>
			<td><a href=<%= ghost_path(ghost.ghost_uuid) %>>view ghost</a></td>
			<td><%=render inline: RQRCode::QRCode.new(root_url + ghost_path(ghost.ghost_uuid)).as_svg(module_size: 3,color: "E49948")%></td>
		</tr>
	<% end %>
	
</table>
<p>Welcome page:</p>
<%=render inline: RQRCode::QRCode.new(root_url).as_svg(module_size: 3,color: "E49948")%>
<p>wrong ghost!:</p>
<%=render inline: RQRCode::QRCode.new(root_url + "wrong").as_svg(module_size: 3,color: "E49948")%>
<br />
<%=render inline: RQRCode::QRCode.new(root_url + "wrong").as_svg(module_size: 3,color: "E49948")%>
<br />
<%=render inline: RQRCode::QRCode.new(root_url + "wrong").as_svg(module_size: 3,color: "E49948")%>
<br />
<%=render inline: RQRCode::QRCode.new(root_url + "wrong").as_svg(module_size: 3,color: "E49948")%>
<br />
<%=render inline: RQRCode::QRCode.new(root_url + "wrong").as_svg(module_size: 3,color: "E49948")%>
