<h2 class="ghost-capture-title">Congratulations <%=session[:hunter_name] %>, you found a ghost ! </h2>
    <div class="page-container">
	        <div class="ghost-container-outer">
        	<div class="ghost-container-inner">
                	<h1><%= @ghost.title %></h1>
	                
        	        <%= image_tag @ghost.image, class: 'ghost-image' %>
                	<%= button_to 'Click here to capture', root_url + 'hunt?' + {ghost_uuid: @ghost.ghost_uuid, hunter_uuid: session[:hunter_uuid]}.to_param, method: :post, class:'ghost_button' %>
	            </div>
        	</div>
			<p> <%= @ghost.body %> </p>
</div>
