<div class="content-container">
<% unless current_user.is_admin? %>
	<h1>You&apos;re not supposed to be here!</h1>
<% else %>
	<h1>Crib Sheet</h1>
	<table class="item-table">
      <tr><th>Plain Text</th><th>|</th><th>Rotation</th><th>|</th><th>Cipher Text</th></tr>
		<% @cipheritems.each do |item| %>
			<tr style="text-align:center">
              <td><%= item.clear_text %></td>
              <td />
              <td><%= item.rotation %></td>
              <td />
              <td><%= item.cipher_text %></td>
			</tr>
		<% end %>
	</table>

  <hr class="hr-80">
	<br>
	<br>
	<center>
	<table class="item-table">
		<tr><td><p>Welcome page:</p></td><td><%=render inline: RQRCode::QRCode.new(root_url).as_svg(module_size: 3,color: "black", fill: "ffffff")%></td></tr>
		<tr><td><p>Register page:</p></td><td><%=render inline: RQRCode::QRCode.new(register_url).as_svg(module_size: 3,color: "black", fill: "ffffff")%></td></tr>
	</center>
<% end %>
</div>
