<% unless session[:is_admin] %>
	<h1>You&apos;re not supposed to be here!</h1>
<% else %>
	<h1>Items:</h1>
	<table>
	<tr><th>ID</th><th>Image</th><th>Name</th><th>Description</th><th>Coupon</th><th>Debug Link</th><th>QR Code</th></tr>
		<% @items.each do |item| %>
			<tr>
				<td><%= item.id %></td>
				<td><%= image_tag item.image, class: "item-image" %></td>
				<td><%= item.title %></td>
				<td><%= item.body %></td>
				<td><%= item.coupon %></td>
				<td><a href=<%= item_path(item.item_uuid) %>>view item</a></td>
				<td><%=render inline: RQRCode::QRCode.new(root_url + item_path(item.item_uuid)).as_svg(module_size: 3,color: "E49948")%></td>
			</tr>
		<% end %>
	</table>


<p>Welcome page:</p>
<%=render inline: RQRCode::QRCode.new(root_url).as_svg(module_size: 3,color: "E49948")%>
<p>wrong Item!:</p>
<%=render inline: RQRCode::QRCode.new(root_url + "wrong").as_svg(module_size: 3,color: "E49948")%>
<br />
<%=render inline: RQRCode::QRCode.new(root_url + "wrong").as_svg(module_size: 3,color: "E49948")%>
<br />
<%=render inline: RQRCode::QRCode.new(root_url + "wrong").as_svg(module_size: 3,color: "E49948")%>
<br />
<%=render inline: RQRCode::QRCode.new(root_url + "wrong").as_svg(module_size: 3,color: "E49948")%>
<br />
<%= render inline: RQRCode::QRCode.new(root_url + "wrong").as_svg(module_size: 3,color: "E49948")%>

<% end %>
