<!DOCTYPE html>
<html>
  <head>
    <title>Scavenger Hunt!</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'initial.css' %>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Creepster&display=swap" rel="stylesheet">
  </head>

  <body>
  <div class="container">
    <div class="mobile-container">
        <%= render 'shared/navbar' %>
        <div class="nav-bar">
      <%= yield %>
    </div>
  </div>
  </body>
</html>
