<!DOCTYPE html>
<html>
  <head>
    <title>Scavenger Hunt!</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'initial.css' %>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  </head>

  <body>

<div class="page-grid">
  <div class="span-col-5"><%= render 'shared/navbar' %></div>
  <div class="span-row-6"></div>
  <div class="span-col-3 span-row-5"><%= yield %></div>
  <div class="span-row-6"></div>
  <div></div>
  <div></div>
  <div></div>
  <div></div>
  <div></div>
</div>

  </body>
</html>
